/*
   Color palette (light to dark)
   background: f1f1ea
*/

body {
   left: 0;
   margin: 0;
   padding: 0;
   background-color: #F1F1EA;
   position: relative;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   overflow-x: hidden;
   color: #000000;
   word-wrap: break-word;
}

a {
   text-decoration: none;
}

.menu{
   left: -20%;
   position: fixed;
   width: 20%;
   height: 100%;
   background-color: #3A3A3A;
}

.menu ul{
   padding: 0;
   text-align: center;
   margin: 5px;
}

.menu .tab{
   border: 1px solid #333333;
   list-style-type: none;
   font-size: 20px;
   padding: 2px;
   margin: 10px 10px 0px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.random{
   position: absolute;
   bottom: 0;
}

.random img{
   height: 40%;
   width: 40%;
}

.menu li{
   list-style-type: none;
   font-size: 20px;
   padding: 2px;
   margin: 10px 10px 0px 10px;
}

.menu .tab:hover{
   background-color: #4A4A4A;
   font-weight: bold;
}

.resume {
   left: -80%;
   position: fixed;
   width: 60%;
   height: 100%;
   background: #101014
   <!--get backgound to match body background-->
}

.resume > ul > li {
   display: inline;
   padding: 2px;
   border: #FFFFFF solid;
   cursor: pointer;
}

.resume li{
   margin-left: 5px;
}

.resume div{
   position: absolute;
}

.hide {
   display: none;
}

#education-content:nth-child(4) ul > li{
   display: inline;
   float: left;
}

.content div {
   overflow: auto;
}
/*moves all immediate children of content so menu button doesn't overlap, except for jumbotron image. does not affect grandchildren.*/
.content > div > *{
   margin-left:110px;
   width: 75%;
}

.menu-icon{
   position: fixed;
   background-color: #828181;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 8px;
   opacity: 0.8;
   cursor: pointer;
   z-index: 9999;
   height: 30px;
   padding: 4px;
}

.menu-icon img{
   max-width: 100%;
   max-height: 100%;
}

.jumbotron {
   background-image: url("http://i.huffpost.com/gen/2606858/images/o-NEW-YORK-CITY-facebook.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   position: relative;
   padding-top: 50%; /*height/width*/
   color: #000000;
}

.jumbotron h1 {
   margin-top: -41%;
}

.about {
   position: relative; /*needed to push when menu pops up*/
   display: block;
   height: 100vh;
   background-color: #C0C0BB;
}

.project {
   position: relative;
   height: 100vh;
}

.contact{
   position: relative;
   background-color: #4A4A4A;
}

.contact li{
   list-style-type: none;
   display: inline;
}

.contact div{
   display: inline;
}
