body {
   left: 0;
   margin: 0;
   padding: 0;
   background-color: #636162;
   position: relative;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   overflow-x: hidden;
   color: #FFFFFF;
}

a {
   text-decoration: none;
}

.menu{
   left: -250px;
   position: fixed;
   width: 250px;
   height: 100%;
   background: #202024
}

   .menu ul{
      padding: 0;
      text-align: center;
      margin: 5px;
   }

   .menu li{
      border: 1px solid #333333;
      list-style-type: none;
      font-size: 20px;
      padding: 2px;
      margin: 10px 10px 0px 10px;
      border-radius: 5px;
      cursor: pointer;
   }

.resume {
   left: -850px;
   position: fixed;
   width: 600px;
   height: 100%;
   background: #101014
}

   .resume li {
      display: inline;
   }

.content div {
   overflow: auto;
}
/*moves all immediate children of content so menu button doesn't overlap, except for jumbotron image. does not affect grandchildren.*/
   .content > div > *{
      margin-left:110px;
   }



.menu-icon{
   position: fixed;
   background-color: #828181;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 8px;
   opacity: 0.8;
   cursor: pointer;
   z-index: 9999;
   height: 30px;
   padding: 4px;
}

   .menu-icon img{
      max-width: 100%;
      max-height: 100%;
   }

.jumbotron {
   background-image: url("http://i.huffpost.com/gen/2606858/images/o-NEW-YORK-CITY-facebook.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   position: relative;
   padding-top: 50%; /*height/width*/
}

   .jumbotron h1 {
      margin-top: -41%;
   }

.about {
   position: relative; /*needed to push when menu pops up*/
   display: block;
   background-color: #3E5C5F;
}

.project {
   position: relative;
   background-color: #125358;
}

.education {
   position: relative;
}

.contact{
   position: relative;
   background-color: #3A3A3A;
}
